<!DOCTYPE html>
<html lang="fr">
<head>
	<!-- Déclarations du head -->
	<meta charset="UTF-8">
	<link rel="icon" href="img/logo.png">
	<title>UTC - Titre du canal</title>
	<link rel="stylesheet" href="css/style.css" />
	
	<!-- Ressources fournies -->
	<link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>

<body>
	<!-- Bandeau supérieur -->
	<header>
		<div class="entete" id="entete" onMouseEnter="afficher_retour_tmc()" onMouseLeave="masquer_retour_tmc()">
			<img class="entete_image" id="entete_image" src="img/logo.png"/>
			<p class="entete_titre" id="entete_titre">
				UTC - Utilitaire Textuel pour la Communication
			</p>
		</div>
		<div class="entete_action">
			<div class="entete_action_texte" onclick="changer_panneau()">À propos du canal</div>
			<img class="entete_action_image" src="img/canal.png" onclick="changer_panneau()"/>
		</div>
	</header>

	<!-- Corps de la page -->
	<main id="corps">
		<div id="conversation">
			<!-- Liste des messages précédents -->
			<p class="message_infos_droite">
				<b>Moi</b> 10:54
			</p>
			<div class="message_droite">Salut c'est moi</div>

			<p class="message_infos_gauche">
				<b>Benjamin</b> 10:56
			</p>
			<div class="message_gauche">Salut Léo, comment vas-tu ?</div>
			
			<p class="message_infos_droite">
				<b>Moi</b> 11h00
			</p>
			<div class="message_droite">Plutôt bien et toi ? Quoi de neuf</div>
			
			<p class="message_infos_gauche">
				<b>Benjamin</b> 11h03
			</p>
			<div class="message_gauche">Super bien, on avance dans nos projets perso</div>
			
			<p class="message_infos_droite">
				<b>Moi</b> 11h04
			</p>
			<div class="message_droite">Trop bien, je viens de finir le projet de SR03, ça rend bien notre interface</div>
			
			<div class="message_droite">Et en plus on a fait un jeu de mot avec "UTC" 😅</div>
			
			<div class="message_droite">Qu'en penses tu ?</div>

			<p class="message_infos_gauche">
				<b>Benjamin</b> 12:54
			</p>
			<div class="message_gauche">Ah oui en effet bien joué!</div>
			
			<p class="message_infos_gauche">
				<b>Noé</b> 12:59
			</p>
			<div class="message_gauche">Bonjour les amis, je suis ravi de vous retrouver</div>
			
			<p class="message_infos_droite">
				<b>Moi</b> 12:59
			</p>
			<div class="message_droite">Moi aussi, comment vas-tu de si bon matin ?</div>
			
			<p class="message_infos_gauche">
				<b>Noé</b> 12:59
			</p>
			<div class="message_gauche">Parfaitement bien, merci et toi?</div>
			
			<p class="message_infos_gauche">
				<b>Justine</b> 14:28
			</p>
			<div class="message_gauche">Hello tout le monde, je suis nouveau ici</div>
			
			<!-- Saisie d'un nouveau message -->
			<p class="message_infos_droite">
				<b>Moi</b> maintenant
			</p>
			<div id="message_saisie">
				<div class="message_saisie_bulle" id="message_saisie_bulle" contenteditable="true" ></div>
			</div>
		</div>
	</main>
	
	<!-- Panneau lattéral -->
	<aside id="panneau">
		<div class="panneau_corps">
			<br />
			<span class="titre1 centrer">
				Titre du canal
			</span>
			<br />Ceci est une description du canal que vous êtes actuellement en train de consulter. Ce canal a été ouvert le 15/04/2022.
			<br />
			<br />
			<br />
			<span class="titre2 centrer">
				Participants
			</span>
			<table class="sans_curseur" border="0" cellSpacing="0" cellPadding="0" width="100%">
				<tr onMouseEnter="afficher_enligne_oui(1000)" onMouseLeave="masquer_enligne(1000,'Léo Mullier <i>(propriétaire)</i>')">
					<td class="participants_gauche">
						<font color="#33cc33">●</font>
					</td>
					<td class="participants_droite" id="participant_n_1000">
						Léo Mullier <i>(propriétaire)</i>
					</td>
				</tr>

				<tr onMouseEnter="afficher_enligne_oui(1001)" onMouseLeave="masquer_enligne(1001,'Bastian Cosson')">
					<td class="participants_gauche">
						<font color="#33cc33">●</font>
					</td>
					<td class="participants_droite" id="participant_n_1001">
						Bastian Cosson
					</td>
				</tr>

				<tr onMouseEnter="afficher_enligne_non(1002)" onMouseLeave="masquer_enligne(1002,'Cédric Martinet')">
					<td class="participants_gauche">
						<font color="grey">●</font>
					</td>
					<td class="participants_droite" id="participant_n_1002">
						Cédric Martinet
					</td>
				</tr>

				<tr onMouseEnter="afficher_enligne_non(1003)" onMouseLeave="masquer_enligne(1003,'Ahamed Lounis')">
					<td class="participants_gauche">
						<font color="grey">●</font>
					</td>
					<td class="participants_droite" id="participant_n_1003">
						Ahamed Lounis
					</td>
				</tr>

				<tr onMouseEnter="afficher_enligne_non(1004)" onMouseLeave="masquer_enligne(1004,'Jean Toutlemonde')">
					<td class="participants_gauche">
						<font color="grey">●</font>
					</td>
					<td class="participants_droite" id="participant_n_1004">
						Jean Toutlemonde
					</td>
				</tr>
			</table>
		</div>
		
		<footer class="panneau_pied">
			<p>
				&lt;/&gt; Développé pour SR03 en P2022 par
				<br />Bastian Cosson, Léo Mullier, Cédric Martinet
			</p>
		</footer>
	</aside>
	
	<!-- Appel du fichier externe JavaScript -->
	<script type="text/javascript" src="js/script.js"></script>
</body>
</html>
